@import '~bootstrap/scss/bootstrap';

// production palette
$background: #aad2d8;
$border-color: darken($background, 10%);
$border-thickness: 10px;
$piece-color: #fff;
$piece-o: #748e99;
$piece-x: #373e49;
$text-color: $piece-x;
$form-color: $text-color;
$white: #f7fcfc;
$gray: #97a6af;
$smol-headers: darken($gray, 20%);

// logo face vars
$face: 140px;
$face-color: #ffdb10;
$face-shadow: #ffcc24;
$eyes: #000;
$eye-radius: 15px;
$cheeks: #ff7e7e;

// theme button colors
$plum: #4d1d49;
$peach: #cd334c;
$lime: #234d20; //lighten(#36802d, 10%);
$blueberry: $piece-x;

// position constants
$title-margin-top: 1%;

html {
  transition: .5s ease;
}

body {
  background-color: $background;
  font-family: 'Fredoka One', cursive;
  text-align: center;
}

h3 {
  color: $smol-headers;
}

.logo,
.win-logo {
  display: flex;
  font-size: 11em;
  justify-content: center;
  letter-spacing: 0;
  line-height: 1em;
  margin-bottom: auto;
  margin-top: 10%;
}

.x-logo {
  // https://callmenick.com/dev/level-up-animations-cubic-bezier/
  animation: spinX 2.8s 1s cubic-bezier(0, 1, 1, 0) infinite;
  color: $piece-x;
  transform-origin: center;
}

.o-logo {
  color: $piece-o;
}

.first-header,
.second-header {
  color: $text-color;
}

.btn {
  background: $piece-x;
  color: $piece-color;
  margin: 5px auto;
  min-width: 15vw;

  &:hover {
    color: $background;
    transition: .5s ease;
  }
}

.opening {
  align-items: center;
  animation: showOpen 1s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: $title-margin-top;
}

.forms {
  animation: showForm 1s ease;
  display: flex;
  flex-direction: column;
  margin-top: 3%;
}

button,
input {
  border-radius: 20px;
  margin: 5px auto;
  width: 20vw;
}

button {
  background-color: $form-color;
  color: darken($white, 5%);
  letter-spacing: .4em;

  &:hover {
    color: $background;
    transition: .5s ease;
  }
}

input {
  background-color: '#fff';
  border: 0;
  border-radius: 20px;
  padding: 5px;
  text-align: center;

  &::placeholder {
    color: lighten($form-color, 50%);
  }
}

.active {
  transition: .5s ease;
  visibility: visible;
}

.button-group {
  display: flex;
  flex-direction: column;
  font-weight: 100;
}

.hidden {
  display: none;
  transition: .5s ease;
}

.game-forms {
  margin-top: $title-margin-top;
}

.close {
  text-align: right;
}

.cell {
  align-items: center;
  border: 0;
  border-bottom: $border-thickness solid $border-color;
  border-right: $border-thickness solid $border-color;
  display: flex;
  font-size: 9em;
  height: calc(100% / 3);
  justify-content: center;

  &:nth-child(3n) {
    border-right: 0;
  }

  &:nth-last-child(-1n + 3) {
    border-bottom: 0;
  }

  &:hover {
    cursor: pointer;
  }
}

.row.board {
  margin: 0;
}

.board-ani {
  animation: growBoard 1s ease-out;
}

.letter-ani {
  animation: growLetter .3s ease-out;
}

.container {
  margin-bottom: 2em;
  width: 50%;
}

.logged-in {
  display: flex;
  flex-direction: column;
}

.face {
  background: lighten($face-color, 10%);
  border-radius: 100%;
  box-shadow: inset 10px 1px 0 $face-shadow;
  height: $face;
  margin-top: 1.3%;
  width: $face;

  .eyes {
    animation: blink 5s infinite;
    background: $eyes;
    border-radius: 100%;
    height: $eye-radius;
    left: 35px;
    position: relative;
    top: 58px;
    width: $eye-radius;

    &::after {
      background: $eyes;
      border-radius: 100%;
      content: '';
      height: $eye-radius;
      left: 60px;
      position: absolute;
      width: $eye-radius;
    }
  }

  .smile {
    background: $eyes;
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;
    height: 15px;
    left: 55px;
    position: relative;
    top: 60px;
    width: 30px;

    &::after {
      background: $cheeks;
      border-radius: 100%;
      content: '';
      height: 5px;
      left: 10px;
      position: absolute;
      top: 8px;
      width: 10px;
    }
  }

  .cheeks {
    background: $cheeks;
    border-radius: 100%;
    height: 12px;
    left: 25px;
    position: relative;
    top: 42px;
    width: 12px;

    &::after {
      background: $cheeks;
      border-radius: 100%;
      content: '';
      height: 12px;
      left: 83px;
      position: absolute;
      width: 12px;
    }
  }

  .shine {
    background: $piece-color;
    border-radius: 200px;
    height: 20px;
    left: 110px;
    position: relative;
    top: -20px;
    transform: rotate(-35deg);
    width: 8px;

    &::before {
      background: $piece-color;
      border-radius: 100%;
      content: '';
      height: 8px;
      position: absolute;
      right: 2px;
      top: -12px;
      width: 8px;
    }
  }
}

.themes {
  display: hidden;
}

.themes.active {
  animation: showThemes 1s ease;
  display: flex;
  justify-content: center;
}

.theme {
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
  height: 15px;
  justify-content: space-between;
  margin: 2%;
  width: 15px;
}

.grape {
  background-color: $plum;

  &:hover {
    background-color: lighten($plum, 10%);
  }
}

.strawberry {
  background-color: $peach;

  &:hover {
    background-color: lighten($peach, 10%);
  }
}

.lime {
  background-color: $lime;

  &:hover {
    background-color: lighten($lime, 10%);
  }
}

.blueberry {
  background-color: $blueberry;

  &:hover {
    background-color: lighten($blueberry, 10%);
  }
}

.theme-button {
  z-index: 2;
}

@keyframes blink {
  0% {
    transform: scaleY(1);
	}

  18% {
    transform: scaleY(1);
	}

  20% {
    transform: scaleY(0);
	}

  25% {
    transform: scaleY(1);
	}

  38% {
    transform: scaleY(1);
	}

  40% {
    transform: scaleY(0);
	}

  45% {
    transform: scaleY(1);
	}

  80% {
    transform: scaleY(1);
	}
}

@keyframes spinX {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(720deg);
  }
}


@keyframes showOpen {
  0% {
    margin-top: 10%;
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    margin-top: $title-margin-top;
  }
}

@keyframes showForm {
  0% {
    margin-top: 20%;
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    margin-top: 3%;
  }
}

@keyframes showThemes {
  0% {
    margin-top: -5%;
    opacity: 0;
  }

  80% {
    opacity: 1;
  }

  100% {
    margin-top: 0;
  }
}

@keyframes growBoard {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes growLetter {
  from {
    font-size: 0;
  }

  to {
    font-size: 9em;
  }
}
